$color-primary: #D04F4F;

$color-dark-grey: #525252;
$color-light-grey: #757575;

$bgc-blue: #3282F7;
$bgc-green: #68D9A4;
$bgc-red: #ED6454;
$bgc-grey: #E7E7E7;

$color-white: #fff;
$color-black: #000;

$logo-font: 'DM Sans', sans-serif;
$body-font: 'Lato', sans-serif;
$description-font: 'Roboto', sans-serif;

$border-radius-xs: 5px;
