@use '../utils' as u;

.dropdown {
  position: relative;
}

.ingredients {
  background-color: u.$bgc-ingredients;
}

.appareils {
  background-color: u.$bgc-appareils;
}

.ustensiles {
  background-color: u.$bgc-ustensiles;
}

.dropdown__keyword {
  display: flex;

  @media screen and (max-width: 672px) {
    flex-direction: column;
  }

  .dropdown {
    border-radius: u.$border-radius-xs;
    margin: 1rem 1rem 1rem 0;

    @media screen and (max-width: 672px) {
      margin-right: 0;
    }

    &__btn {
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-radius: u.$border-radius-xs;
      color: u.$color-white;
      width: u.rem(170);
      height: u.rem(70);

      @media screen and (max-width: 672px) {
        width: 100%;
      }

      & svg {
        cursor: pointer;
      }
    }

    &__content {
      top: 0;
      left: 0;
      display: none;
      margin-right: 1rem;
      padding: 1rem;
      border-radius: u.$border-radius-xs;
      color: u.$color-white;

      @media screen and (max-width: 672px) {
        margin-right: 0;
      }

      & svg {
        box-sizing: content-box;
        width: 1rem;
        padding: 1rem;
        cursor: pointer;
      }

      &[data-active='true'] {
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        & svg {
          transform: rotate(180deg);
          grid-column-start: 4;
          cursor: pointer
        }
      }

      &__input {
        width: 12rem;
        height: 2rem;
        background-color: inherit;
        color: u.$color-white;
        border: none;

        &::placeholder {
          color: u.$color-white;
          opacity: 0.5;
        }
      }

      &__options {
        grid-column: 1 / 4;
        display: flex;
        flex-wrap: wrap;
        line-height: 1.5;
        /*overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 19;
        -webkit-box-orient: vertical;*/

        & > li {
          flex-basis: calc(1 / 3 * 100%);
          min-width: 105px;
          cursor: pointer;
          display: none;

          &[data-selected='true'] {
            display: block;
          }
        }
      }

      @each $keyword in u.$keywords {
        #content-#{nth($keyword, 1)} {
          background-color: nth($keyword, 2);
        }
      }
    }
  }
}

