@use '../utils' as u;

.results__list {
  /*display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;*/
  display: grid;
  justify-items: center;
  grid-gap: 2rem;
  margin-top: 2rem;

  @media screen and (min-width: 675px) {
    grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  }

  &__item {
    width: 100%;
    //flex: 1 1 300px;

    @media screen and (min-width: 675px) {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      max-width: 380px;
      overflow: hidden;
    }

    img {
      display: block;
      height: auto;
      height: 100%;
      object-fit: cover;
      background-color: u.$bgc-dark-grey;
    }

    &__content {
      display: grid;
      grid-gap: 1.2rem;
      grid-template-columns: repeat(4, auto);
      grid-template-rows: u.rem(22) 105px;
      background-color: u.$bgc-grey;
      padding: 1.2rem;

      &__title {
        font-weight: 400;
        grid-column: span 3;
      }

      &__time {
        &__text {
          display: flex;
          justify-content: space-between;
          font-weight: bold;

          & > svg {
            margin-right: u.rem(7);
          }
        }
      }

      &__ingredients {
        grid-column: span 2;
        font-size: u.rem(12);
        overflow: auto;

        .ingredients__item {
          line-height: .6;

          & > * {
            font-size: u.rem(12);
            line-height: 1.2;
          }

          #title {
            font-weight: 700;
          }
        }

      }

      &__description {
        @include u.line-clamp(7, 1.2);
        grid-column: span 2;
        font-size: u.rem(12);
      }
    }

    &__no-result {
      padding: u.rem(32);
      font-size: u.rem(38);
      grid-column: 1 / 4;
    }
  }
}
