@use '../utils' as u;

.hidden {
  display: none !important;
}

.modal-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  max-width: calc(100vw - 20px);
  max-height: calc(100vh - 20px);
  overflow: auto;

  &.active {
    display: block;
  }
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  width: 95%;
  max-width: 500px;
  min-width: 300px;
  padding: u.rem(30);
  min-height: 250px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 1px solid #ddd;
  border-radius: u.rem(5);
  z-index: 2;

  h2 {
    margin-bottom: u.rem(10);
    font-weight: 500;
  }
}

