@use 'functions' as f;
@use 'variables' as v;

@mixin flex-center($direction) {
  display: flex;
  flex-direction: $direction;
  justify-content: center;
  align-items: center;
}

@mixin position-absolute($top, $bottom, $left, $right) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin pseudo-elt($display: block, $content: '', $position: absolute, $top: 0, $bottom: 0, $left: 0, $right: 0) {
  content: $content;
  display: $display;
  position: $position;
  top: $top;
  bottom: $bottom;
  left: $left;
  right: $right;
}

@mixin set-bg($color) {
  background-color: $color;
  color: f.set-text-color($color);
}